.desc{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.593);
    background: transparent;
    font-size: 0.9rem;
    font-weight:lighter;
    margin-left: 10%;
    width: 50%;
}

@media (max-width:750px) {
    .desc{
        padding: 2px;
        font-size: 0.7rem;
        width: 80%;
        text-align: center;
        margin: auto;
    }
}