.footer{
    background-color: black;
    width: 100%;
    font-size: 0.7rem;
    color:rgba(210, 214, 214, 0.6);
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 60px;
}

.listContainer{
    display: flex;
    flex-direction: row;
    min-width: 50px;
}

.lists{
    margin: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    /* padding: 20px; */
}

.lists:nth-child(1){
    margin-left:18%;
}
.lists:nth-child(4){
    margin-right: 18%;
}
li{
    list-style: none;
    list-style-type: none;
    padding-top: 10px;
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.icons_bar{
    /* padding: 10px; */
    margin-left: 18%;
    margin-top: 50px;
}

.icon{
    color: #000000;    
    font-size: 1.4rem;
    margin-right: 30px;
    /* padding-right: 30px; */
}

.copyright, .service-code{
    /* color: #fff; */
    margin-left: 18%;
    font-size: 0.7rem;
}

.service-code{
    color:rgba(210, 214, 214, 0.6);
    padding: 8px;
    background-color: black;
    border: 0.3px solid rgba(210, 214, 214, 0.6);
    margin-bottom: 10px;
}
.service-code:hover{
    color: #fff;
    cursor: pointer;
}

@media (max-width:500px) {
    .lists:nth-child(1){
        margin-left: 1px;        
    }
    .lists:nth-child(4){
        margin-right: 1px;
    }

    .icons_bar{
        margin-left: 1px;
    }
    .service-code{
        margin-left: 1px;
    }
    .copyright{
        margin-left: 1px;
    }
}