.Header {
    /* background-image: url(./../assets/netflix-poster.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
}

.overlay {
    padding-top: 15%;
    /* padding-left: 10%; */
    background-color: rgba(0, 3, 20, 0.4);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width:750px) {
    .Header {
        height: 50vh;
    }

    .overlay {
        padding-left: 0;
        padding-top: 10%;
    }
}

@media (max-widht:500px) {
    .overlay {
        padding: 2px;
        padding-left: 0;
    }
}
